/.vscode/
/config.ini
/config.json
/identifier.sqlite
/src/classes/text_to_speech.py
/src/classes/old.py
/venv/
/src/classes/test.py
/src/config.ini
/src/database.db
/.idea/.idea.DisBotGPT-Py.dir/.idea/.gitignore
/.idea/.gitignore
/.idea/dataSources.xml
/.idea/DisBotGPT-Py.iml
/.idea/.idea.DisBotGPT-Py.dir/.idea/encodings.xml
/.idea/.idea.DisBotGPT-Py.dir/.idea/indexLayout.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
